<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= tweet.userName %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= tweet.description %></h6>
        <a href="#" class="card-link"><%= link_to "Show this tweet", tweet %></a>
        <a href="#" class="card-link"><%= link_to "New tweet", new_tweet_path %></a>
      </div>
    </div>
    <br>
  <% end %>

  <%= will_paginate @tweets %>

  <%# <% @tweets.each do |tweet| %>
    <%# <%= render tweet %>
    <%# <p>
      <%= link_to "Show this tweet", tweet %>
    <%# </p>
  <% end %>
<%# </div>

<%= link_to "New tweet", new_tweet_path %> 

